<nav class="navbar navbar-light bg-light">
	<div class="container-fluid d-flex justify-content-center">
		<a class="navbar-brand" asp-controller="CRUD" asp-action="Index">
			Kardeşler AVM'Ye HOŞGELDİNİZ
		</a>
	</div>
</nav>